<p-toolbar>
  <div class="p-toolbar-group-start font3 gap-2">
    <span>Início</span>
    <span>Coleções</span>
    <span>Guia de estilo</span>
    <span>Novidades</span>
  </div>
  <div>
    <span class="font1 text-3xl"><i class="fa-solid fa-glasses p-2"></i>VisãoClara</span>
  </div>
  <div class="p-toolbar-group-end gap-2 font3">
    <span>Sobre nós</span>
    <p-avatar label="V" styleClass="mr-2" [style]="{ 'background-color': '#2196F3', color: '#ffffff' }"
      shape="circle"></p-avatar>
      <!-- <p-button (click) ="toggleTheme()" ></p-button> -->
  </div>
</p-toolbar>
<section class="frase w-full flex justify-content-end">
  <section class="w-6 text-right mr-2 pr-5">
    <p class="font2 line-height-2 text-6xl">"Vista o Mundo com Estilo: Veja e Seja Visto com Nossos Óculos Exclusivos!"
    </p>
  </section>
</section>
<section class="p-5">
  <p-card [style]="{'padding': '0'}">
    <p class="m-0 p-0 text-left text-xl font3">
      Na VisãoClara, acreditamos que os óculos são mais do que apenas uma correção visual, eles são uma expressão de seu
      estilo pessoal e uma declaração de sua individualidade. Nossa missão é proporcionar a você não apenas uma visão
      nítida, mas também a confiança para enfrentar o mundo com um olhar novo e empolgante.</p>
  </p-card>
</section>
<div class="card flex justify-content-center gap-2  flex-wrap p-2">
  <p-chip label="Óculos de sol"></p-chip>
  <p-chip label="Óculos blue light"></p-chip>
  <p-chip label="Óculos de grau"></p-chip>
  <p-chip label="Óculos esportivos"></p-chip>
  <p-chip label="Óculos de leitura"></p-chip>
  <p-chip label="Óculos infantis"></p-chip>
</div>
<section class="cards flex gap-3 p-5 w-full h-auto">
  <div class="w-3 h-auto min-h-full">
    <p-card header="Explorando Nossas Coleções" styleClass="h-full">
      <p class="m-0 text-left">
        Descubra uma vasta gama de óculos cuidadosamente selecionados que capturam as últimas tendências
        da
        moda e atendem a diversas preferências. Nossa coleção é meticulosamente curada para garantir que
        você encontre algo que se adapte perfeitamente ao seu rosto, personalidade e estilo de vida.

      </p>
    </p-card>
  </div>
  <div class="w-3 h-auto min-h-full">
    <p-card header="Qualidade em Foco" styleClass="h-full">
      <p class="m-0 text-left">
        Na VisãoClara, a qualidade é primordial. Trabalhamos em parceria com as principais marcas e
        designers para oferecer a você óculos que não apenas se destacam em termos de estilo, mas também
        são
        duráveis e feitos para durar.
      </p>
    </p-card>
  </div>
  <div class="w-3 h-auto min-h-full">
    <p-card header="Serviço Personalizado" styleClass="h-full">
      <p class="m-0 text-left">
        Entendemos que escolher os óculos certos pode ser uma decisão importante e emocionante. Nossa equipe de
        especialistas em estilo e óptica está aqui para orientá-lo em cada etapa do caminho.
      </p>
    </p-card>
  </div>
  <div class="w-3 h-auto min-h-full">
    <p-card header="Sua Experiência, Nossa Prioridade" styleClass="h-full">
      <p class="m-0 h-full text-left">
        Entendemos que escolher os óculos certos pode ser uma decisão importante e emocionante. Nossa equipe de
        especialistas em estilo e óptica está aqui para orientá-lo em cada etapa do caminho.
      </p>
    </p-card>
  </div>
</section>
